extends layout

block content
  header
    h1 #{title}
  br
  article
    each p in people
      div
        img(src=`${p.image}`)
        h2 #{p.name}
        a(href=`/specifiche/${p.number}`)  Clicca per vedere le specifiche
        hr

